<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/./static/favicon.ico" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/./static/style.css">
        <title>Braccio robot</title>
    </head>
    <body>
        <h1>Braccio robot</h1>
        <p>Ecco un video di dimostrazione del braccio robot creato in questi giorni</p>
        <iframe class="vid" width="560" height="315" src="https://www.youtube.com/embed/ifzRSR-4r14" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </body>
</html>
